In [12]:
import os
os.chdir('C:/Users/vivek/OneDrive/Desktop/project/segmentation/market-segmentation')

In [2]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv('store.csv')

In [34]:
#using concatination
df['rep_']=df.region.str.cat(df.reps, sep=',')

In [35]:
#using "+" 
df['rep_details']=df.reps + ','+ df.region 
df.head()

     reps product  qty  revenue region   rep_details          rep_
0  Chitra  Galaxy    2   155.10   West   Chitra,West   West,Chitra
1   Vijay     Jet    2    39.30  North   Vijay,North   North,Vijay
2    Mala  Beacon    3    74.25   West     Mala,West     West,Mala
3   Suman   Alpen    3   100.98  North   Suman,North   North,Suman
4  Rachna   Orbit    2    44.98  North  Rachna,North  North,Rachna