In [2]:
import os
os.chdir('C:/Users/vivek/OneDrive/Desktop/project')

In [5]:
import numpy as np
import pandas as pd
from scipy import stats

In [9]:
df=pd.read_csv('brain_size.csv',sep=';', na_values=".")
df.head(3)

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437

In [11]:
#1-sample t-test: testing the value of a population mean
#tests if the population mean of data is likely to be equal to a given value 
#(technically if observations are drawn from a Gaussian distributions of given population mean). 
#It returns the T statistic, and the p-value 
stats.ttest_1samp(df['VIQ'], 0)

Ttest_1sampResult(statistic=30.088099970849328, pvalue=1.3289196468728067e-28)

The population mean for the IQ (VIQ measure) is not 0.

In [12]:
#2-sample t-test: testing for difference across populations
#We have seen above that the mean VIQ in the male and female populations were different. 
#To test if this is significant, we shoould do a 2-sample t-test

female_viq = df[df['Gender'] == 'Female']['VIQ']

male_viq = df[df['Gender'] == 'Male']['VIQ']

stats.ttest_ind(female_viq, male_viq)

Ttest_indResult(statistic=-0.7726161723275011, pvalue=0.44452876778583217)

we cant reject the null, mean of Female VIQ and mean of male VIQ are same